footer.footer
    div.footer_icon
        i.fab.fa-youtube
    span.footer_text #{siteName} #{new Date().getFullYear()} @copy;


//-
    div.user => <div class="user"></div>
    #{} - pug에서 문자열에 변수 삽입 방법
