//- 
    모든 링크드이 들어감
    div.header__column = .header__column

header.header
    .header__column
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href="#") Logged In


