.social__login
    button.social-login__github
        span
            i.fab.fa-gitjub
        |Continue with Github
    button.social-login__github
        span
            i.fab.fa-facebook
        |Continue with Facebook
//-
    |를 써야 그 이후에 작성하는 것을 text 취급